body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.cadastro-container {
    text-align: center;
    background: #fff;
    padding: 30px 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #3F448C; 
    margin-bottom: 20px;
}

.cadastro-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.cadastro-form label {
    display: block;
    color: #5a61bd; 
    margin-bottom: 5px;
}

.cadastro-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #9ca2ef; 
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-signup {
    text-decoration: none;
    color: #fff;
    background-color: #3F448C; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: 100%;
}

.btn-signup:hover {
    opacity: .8;
}
